.posts {
  list-style-type: none;
  display: block;
}
.post {
  background-color: #f4f4f4;
  border-radius: 0.3rem;
  margin: 1rem 0;
  padding: 1rem;
  &:hover {
    background-color: #e4e4e4;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  p {
    text-decoration: none;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    color: #777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
