.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .showcase {
    margin-top: 20px;
    width: 60%;
    ul {
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        small {
          margin-left: 5px;
        }
      }
    }
  }

  .container {
    perspective: 1000px;
    background-color: rgb(89, 89, 89);
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .screen {
      width: 300px;
      height: 100px;
      background-color: #fff;
      margin: 10px 0;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba($color: #ffffffae, $alpha: 1);
    }
  }
}
