.seat {
  width: 25px;
  height: 25px;

  background-color: white;
  text-align: center;
  border-radius: 20%;
  cursor: pointer;

  &:nth-of-type(2) {
    margin-right: 10px;
  }
  &:nth-of-type(6) {
    margin-right: 10px;
  }
  &:hover {
    //background-color: #888;
    border: 1px solid rgb(247, 6, 6);
  }
}
.na {
  background-color: rgb(174, 174, 174);
}
