.row {
  display: flex;
  justify-content: space-between;
}

.seats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 250px;
  height: 150px;
  //background-color: rgb(106, 106, 106);
  padding: 5px;
}
